body {
    background-image: url("https://shop.a-morir.com/cdn/shop/products/IMG_3849.JPG?v=1529380431");
    background-position: center;
    background-blend-mode:soft-light;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    color: white;
    text-align: center;
}

h1 {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-align: center;
  font-family: cursive;
  width: 500px;
  border: 15px solid white;
  padding: 50px;
  margin: 20px;
}

script {
    background-color: white;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}
#answer {
  background-color: white;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 300px;
  padding: 50px;
  margin: 20px;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
}
li {
  background: white;
  color: black;
  list-style-type: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 50px;
  margin: 10px;
  width: 1000px;
  border: 5px solid black;
  padding: 15px;
  margin: 20px;
}